<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Leaders</h1>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                    <div class="team-member">
			<hr class="hr-line">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="{{ member.name }}">
                        <h3>{{ member.name }}<br>
                        <span>{{ member.position }}</span></h3>
			<!---
                        <ul class="list-inline" style="list-style: none;">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}" class="social-btn">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
			--->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
